---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cursos from '../components/Cursos.astro';
import SobreMi from '../components/SobreMi.astro';
import Testimonios from '../components/Testimonios.astro';
import ProcesoInscripcion from '../components/ProcesoInscripcion.astro';
import Galeria from '../components/Galeria.astro';
import PreguntasFrecuentes from '../components/PreguntasFrecuentes.astro';
import CTA from '../components/cta.astro';
import BlogComponent from '../components/BlogComponent.astro'
---

<Layout title="Dalia Romero - Cursos de Belleza">
  <main>
    <Hero />
    <Cursos />
    <SobreMi />
    <Testimonios />
    <CTA />
    <ProcesoInscripcion />
    <Galeria />
    <PreguntasFrecuentes />
    <BlogComponent />
    
  </main>
</Layout>

<style>
  /* Colores globales definidos en index.astro */
  .blog-post {
    background: var(--gradient-secondary);
    color: var(--color-text);
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 680px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Estilo del título del post */
  .blog-post h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-accent);
    margin-bottom: 1rem;
    text-align: center;
  }

  /* Estilo de la fecha */
  .date {
    font-size: 0.9rem;
    color: #d1d1d1;  /* Color gris suave para contraste */
    text-align: center;
    margin-bottom: 1.5rem;
  }

  /* Estilo de la imagen del post */
  .blog-post img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    object-fit: cover;
    max-height: 400px;
  }

  /* Estilo del contenido */
  .blog-post .content {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
  }

  /* Estilo de las categorías */
  .categories {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  .category {
    background-color: var(--color-accent);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: bold;
  }

  /* Estilo adaptable para móviles */
  @media (max-width: 600px) {
    .blog-post h1 {
      font-size: 1.75rem;
    }

    .blog-post {
      padding: 1rem;
    }

    .categories {
      margin-top: 1rem;
    }
  }
</style>