---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Cursos from '../components/Cursos.astro';
import SobreMi from '../components/SobreMi.astro';
import Testimonios from '../components/Testimonios.astro';
import ProcesoInscripcion from '../components/ProcesoInscripcion.astro';
import Galeria from '../components/Galeria.astro';
import PreguntasFrecuentes from '../components/PreguntasFrecuentes.astro';
import CTA from '../components/cta.astro';
import BlogComponent from '../components/BlogComponent.astro'
---

<Layout title="Dalia Romero - Cursos de Belleza">
  <main>
    <Hero />
    <Cursos />
    <SobreMi />
    <Testimonios />
    <CTA />
    <ProcesoInscripcion />
    <Galeria />
    <PreguntasFrecuentes />
    <BlogComponent />
    
  </main>
</Layout>
